<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="eg">
<head>
    <meta charset="UTF-8">
    <title>Pexeso</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<div  class="loginP">
<h1>Pexeso</h1>
<h2>Login</h2>
<body class="loginB">

<form action="/login">
    <label> Login</label>
    <input class="bar" type="text" name="login" value="Your Login"/><br/>
    <label> Password</label>
    <input class="bar" type="password" name="password" value="Your Password"/><br/>
    <input class="button" type="submit" value="Sign In"/><br/>
</form>
<a href="register">
    <input  class="button" type="submit" value="Register"/><br/>
</a>
<a  href="/pexeso">
    <input class="button"  type="submit" value="Play"/><br/>
</a>





</div>
</body>
</html>