<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pexeso</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<div  class="loginP">
<h1>Pexeso</h1>
<h2>Register</h2>
<body class="loginB">
    <form action="/register">
        Login: <input class="bar" type="text" name="rLogin" value="Login"/><br/>
        Password: <input class="bar" type="password" name="firstPassword" value="Password"/><br/>
        Retype Password: <input class="bar" type="password" name="secondPassword" value="Password"/><br/>
        <input class="button" type="submit" value="Sign Up"/><br/>
    </form>
    <a href="/">
        <input  class="button" type="submit" value="Back"/><br/>
    </a>


</div>
</body>
</html>